* {
  text-decoration: none; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif; }

.navbar__back {
  position: absolute;
  z-index: 0;
  width: 100%;
  right: 0px;
  height: 18vh;
  top: 0px; }

.navbar__logo {
  margin: 10px 20px; }

.navbar__link {
  float: right;
  margin: 33px 50px; }
  .navbar__link--element {
    padding: 0 30px;
    font-size: x-large;
    color: #1078AD; }
  .navbar__link--element:hover {
    color: black; }
  .navbar__link--button {
    padding: 5px 50px 5px 15px;
    border-width: 1.5px;
    border-color: #1078AD;
    border-radius: 10px;
    font-size: x-large;
    margin-left: 30px;
    color: #1078AD; }
  .navbar__link--icon {
    position: absolute;
    top: 55px;
    right: 85px; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "info info" "imag test"; }

.info {
  width: 100%;
  grid-area: info;
  background-color: #F4CF1B;
  margin-top: -0.2%;
  height: 42%;
  line-height: 35px; }
  .info__titre {
    text-align: center;
    font-size: 24px;
    margin-top: 1%; }
  .info__text {
    text-align: center;
    color: #1078AD;
    font-size: 20px; }

.imag {
  width: 100;
  margin-top: -180px;
  margin-left: 28px;
  grid-area: imag; }
  .imag__img {
    width: 100%; }

.test {
  margin-top: -32%;
  grid-area: test; }
  .test__title {
    color: #1078AD;
    text-align: center;
    font-size: 30px; }
  .test__icon {
    margin-left: 43.6%; }
  .test__text {
    font-size: 30px;
    text-align: center;
    color: #7F7F7F; }
  .test__button {
    margin-left: 5px;
    background-color: #1078AD;
    border-radius: 5px;
    border: none;
    width: 93%;
    height: 50px;
    font-size: 30px;
    color: white;
    margin-bottom: 20px; }

/*---------------------------------symptome-------------------------------*/
.symptome {
  width: 100%; }
  .symptome__title {
    text-align: center;
    color: #1078AD; }
  .symptome__icon {
    display: flex;
    justify-content: space-evenly; }
    .symptome__icon--right {
      text-align: center;
      margin-right: 15%;
      margin-top: 2%;
      line-height: 20px; }
    .symptome__icon--left {
      text-align: center;
      margin-left: 15%;
      line-height: 20px; }

/*-----------------------------------------recommandation---------------------------------------*/
.org {
  background-color: #1078AD;
  margin-bottom: -2%; }
  .org__title {
    text-align: center;
    color: #D0E5F0;
    font-size: 35px;
    font-weight: 700; }

.recommand {
  display: flex;
  justify-content: space-around; }

.part1__black {
  font-size: 35pX;
  margin-left: -8%;
  margin-top: -1%; }

.part1__text {
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 30pX;
  margin-left: -8%;
  margin-top: -4%; }

.part2__appel {
  color: #F4CF1B;
  font-size: 35px; }

.part2__num {
  background-color: #F4CF1B;
  color: #1078AD;
  border-radius: 5px;
  width: 60%;
  height: 15%;
  border: none;
  font-size: x-large;
  margin-bottom: 22%;
  margin-left: -2%; }

.part2__web {
  color: white;
  font-size: x-large; }

.part2__hr {
  width: 58%;
  margin-left: -2%;
  margin-top: -2%;
  height: 1px;
  background-color: #F4CF1B;
  border: none; }

/*------------------------------------virus------------------------------*/
.virus {
  background-color: #96C5DC;
  height: 240px;
  margin-bottom: 20px; }
  .virus__title {
    text-align: center;
    color: #1078AD; }
  .virus__icon {
    display: block;
    margin-right: auto;
    margin-left: auto; }
  .virus__button {
    background-color: #1078AD;
    border-radius: 5px;
    border: 1px solid black;
    width: 40%;
    height: 50px;
    font-size: 30px;
    color: white;
    display: block;
    margin: auto;
    margin-top: 1.5%; }
  .virus__button:hover {
    background-color: #D0E5F0;
    transition: 2s; }

/*-----------------------------------------------------footer--------------------------------------------*/
.section__icon {
  display: block;
  margin: auto; }

.flex {
  display: flex;
  justify-content: space-around; }

.list__ul {
  list-style: none; }

.list__button {
  padding: 5px 50px 5px 15px;
  border-width: 1.5px;
  border-color: #1078AD;
  border-radius: 10px;
  font-size: large;
  color: black;
  background-color: transparent;
  margin-bottom: 10px;
  margin-left: -15px;
  outline: none; }

.list__il {
  padding: 15px 0;
  font-size: x-large;
  color: #1078AD; }

.list__il:hover {
  color: black; }

.list__icon {
  position: absolute;
  left: 70px;
  bottom: -36px;
  position: relative; }

.Contact {
  text-align: center; }
  .Contact__title {
    color: #1078AD; }
  .Contact__text {
    color: black; }
  .Contact__num {
    color: #F4CF1B; }
  .Contact__nice {
    color: black; }
  .Contact__chiff {
    color: #F4CF1B; }

.poeme {
  color: #7F7F7F;
  margin: 70px 0  0 -80px; }
